<h3>Component Login of users module Called!</h3>

<!-- Function example  Without Param -->
<!-- <button (click)= "getname()">Click Here!</button>  -->

<!-- Function example  With Param -->
<!-- <button (click)= "getname('Appu')">Click Here!</button>  -->
<!-- If we are not putting single quotes inside Appu then it will consider it as variable -->
<button (click)= "getname(myName)">Click Here!</button> 