<!-- Interpolation using variable -->
<h2>{{appname}}</h2>

 <!--Using function  -->
<h2>{{getname()}}</h2>

<!-- Using object -->
<h2>{{obj.name}}</h2>

<!-- Using Array -->
<h2>{{arr}}</h2>
<h2>{{arr.length}}</h2>
<h2>{{arr[0]}}</h2>

<!-- url of window -->
<h2>{{siteUrl}}</h2>
<!-- Airthmetic operation -->
<h3>{{10/10}}</h3>
<!-- String Interpolation End -->

<!-- Component Starts -->
<app-user-list></app-user-list>
<!-- Component of users Module -->
<app-login></app-login>
<!-- Component of user Module i.e Signup  -->
<app-signup></app-signup>
